.dialogsComponent {
  display: flex;
  padding: 10px;
}

.dialogs {
  margin-right: 50px;
}

.dialogs__list {

}

.dialog {

}

.dialog {
}

.link.active {
  color:blue;

}

.messages {

}

.messages__list {

}

.message {

}