.dialogComponent {

}

.link {
color: #4f892a;
  display: flex;
  align-items: center;
  margin-bottom: 10px;

}

.link {
  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
}


.link.active {
  color:blue;

}