.paginationComponent {
  display: flex;
  margin-bottom: 35px;
}

.pagination {
  display: flex;
  margin: 0 auto;
  min-width: 380px;
}


.pagination__list {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin-left: -10px;
}

.pagination__link {
  color: black;
  cursor: pointer;
  margin-left: 10px;
  transition: .2s;

  &:hover {
    color: #222222;
    font-weight: bold;
  }
}

.pagination__link_active {
  font-weight: bold;
  margin-left: 10px;
  color: #222222;

  &:hover {
    color: #222222;
  }
}

.button {
}