ul li {
  list-style-type: none;
}

.app-wrapper-content {
  grid-area: content;
  background-color: yellow;
}

.app-container {
  width: 90%;
  margin: 0 auto;
  display: grid;

  grid-template-areas:
    "header header"
    "navigation content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}


