.friendsComponent {
background: white;
  padding: 15px;
  box-shadow:0 0 2px #999da1;
  border-radius: 2px;
}

.friendsComponent {
 h3 {
   margin-bottom: 20px;
 }
}

.friendsList {
  margin-left: -10px;
  display: flex;
  flex-wrap: wrap;

}